[submodule "src/direct_lidar_inertial_odometry"]
	path = src/direct_lidar_inertial_odometry
	url = https://github.com/Cardinal-Space-Mining/direct_lidar_inertial_odometry.git
	branch = filtered_points
[submodule "src/rio_interface/PiSerialControl"]
	path = src/rio_interface/PiSerialControl
	url = https://github.com/Cardinal-Space-Mining/PiSerialControl.git
	branch = main
[submodule "src/Sick-Perception"]
	path = src/Sick-Perception
	url = https://github.com/Cardinal-Space-Mining/Sick-Perception.git
	branch = perception-v3-ros
